.notification {
	position: fixed;
	top: 10px;
	right: 10px;
	padding: 10px 20px;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	opacity: 0;
	animation: fadeInOut 3s forwards;
}

.notification.info {
	background-color: black;
}

.notification.success {
	background-color: green;
}

.notification.error {
	background-color: red;
}

.notification.warning {
	background-color: orange;
}

@keyframes fadeInOut {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	10% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-20px);
	}
}
